@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.font-work-sans {
  font-family: "Work Sans", sans-serif;
}

.pinky {
  color: #e71580;
}

.pinky-deep {
  color: #e527b2;
}

.pinky-bg-deep {
  background-color: #e527b2;
  color: white;
  border: none;
}
